{% extends "base.html" %}

{% block content %}
<h2>Editar Demanda</h2>


<form method="POST" action="{{ url_for('editar', id=demanda['id']) }}">
    <div>
        <label>Título:</label><br>
        <input type="text" name="titulo" value="{{ demanda['titulo'] }}" size="50" required>
    </div>
    <br>

    <div>
        <label>Descrição:</label><br>
        <textarea name="descricao" rows="5" cols="50" required>{{ demanda['descricao'] }}</textarea>
    </div>
    <br>

    <div>
        <label>Solicitante:</label><br>
        <input type="text" name="solicitante" value="{{ demanda['solicitante'] }}" required>
    </div>
    <br>

    <div>
        <label>Data de Criação:</label><br>
        <input type="text" value="{{ demanda['data_criacao'] }}" disabled>
    </div>
    <br>

    <button type="submit">Atualizar</button>
    <a href="{{ url_for('index') }}"><button type="button">Cancelar</button></a>
</form>

{% endblock %}
