{% extends "base.html" %}

{% block content %}
<h2>Lista de Demandas</h2>


<table border="1" cellpadding="10" cellspacing="0" width="100%">
    <thead>
        <tr bgcolor="#cccccc">
            <th>ID</th>
            <th>Título</th>
            <th>Solicitante</th>
            <th>Data</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for demanda in demandas %}
        <tr>
            <td>{{ demanda['id'] }}</td>
            <td>{{ demanda['titulo'] }}</td>
            <td>{{ demanda['solicitante'] }}</td>
            <td>{{ demanda['data_criacao'] }}</td>
            <td>
                <a href="{{ url_for('detalhes', id=demanda['id']) }}">Ver</a>
                |
                <a href="{{ url_for('editar', id=demanda['id']) }}">Editar</a>
                |
                <form method="POST" action="{{ url_for('deletar', id=demanda['id']) }}" style="display:inline;" onsubmit="return confirm('Tem certeza que deseja deletar?');">
                    <button type="submit" style="background:none; border:none; color:red; cursor:pointer; padding:0; font-size:inherit;">Deletar</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>


<br><br>
<a href="{{ url_for('nova_demanda') }}"><button>+ Nova Demanda</button></a>

{% endblock %}
